.inputBox{
   
    display: block;
    margin:3rem;
    padding:0.5rem;
    width:20rem;
    border:3px solid #1087dc;
    border-radius: 2rem;
    gap:2px;
  }
  .register{

  }
   
  .register h1{
    
    text-align: center;
    margin:auto;
   
    left:50%;
    margin-top:auto;
  }
  
  .button {
    
    
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    position: relative;
    left:38%;
   bottom: 1rem;
   display: grid;
  }
  .button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
  }
  
  
  .innerBox {
   
     
     height: fit-content;
    width: fit-content;  
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    
    position: absolute;
    margin-left: 30%;
  }
  .error{
    font-weight: bold;
    font-size: 0.8rem;
    color:#ff0022;
    text-align: center;
    flex-direction: column;
    
  }
  .bottom {
    /* display: flex;
    flex-direction: column;
    gap: 2px; */
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
   button:disabled {
    color: gray !important;
  }
  